@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Lobster&family=Roboto+Slab&display=swap');

@layer components {
  /* Global */
  .title-font {
    @apply font-lobster;
  }
  .text-font {
    @apply font-roboto-slab;
  }
  .subtitle-font {
    @apply font-cambo;
  }

  /* Navbar */
  .navbar {
    @apply bg-white border-gray-200 px-2 sm:px-4 py-2.5 -z-10 drop-shadow-xl
  }
  .navbar__container {
    @apply container flex flex-wrap items-center justify-between mx-auto
  }
  .navbar__logo {
    @apply flex items-center
  }
  .navbar__logo-img {
    @apply h-6 mr-3 sm:h-9
  }
  .navbar__logo-text {
    @apply self-center text-3xl title-font whitespace-nowrap text-text-color-primary
  }
  .navbar__buttons {
    @apply flex md:order-2
  }
  .navbar__cta-btn {
    @apply text-font text-white bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-fill-color font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0
  }
  .navbar__menu-btn {
    @apply inline-flex items-center p-2 text-sm text-primary rounded-lg md:hidden hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-primary
  }
  .navbar__menu {
    @apply items-center justify-between md:justify-center w-full md:flex md:w-auto ease-in-out md:order-1 duration-300 md:text-center md:justify-items-center
  }
  .navbar__menu--open {
    @apply translate-y-0 h-full opacity-100
  }
  .navbar__menu--closed {
    @apply navbar__menu -translate-y-full h-0 opacity-0 md:translate-y-0 md:h-full md:opacity-100
  }
  .navbar__menu ul {
    @apply flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-fill-color md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white
  }
  .navbar__menu-link {
    @apply text-font block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-text-color-secondary md:p-0 md:border-none
  }
  .navbar__menu-link--active {
    @apply text-gray-700 border-l-4 bg-white border-l-primary rounded md:bg-transparent md:text-text-color-primary md:p-0 !important
  }

  /* Home */
  .home__header {
    @apply w-full flex justify-center items-center flex-col h-[calc(100vh-6rem)]  bg-cover bg-center bg-no-repeat;
    background-image: url("https://img.freepik.com/free-photo/salad-from-tomatoes-cucumber-red-onions-lettuce-leaves-healthy-summer-vitamin-menu-vegan-vegetable-food-vegetarian-dinner-table-top-view-flat-lay_2829-6482.jpg?w=1380&t=st=1673740157~exp=1673740757~hmac=5b5f6d980e4300c39618bd9e91c1329883b36957f999b00be92818293c2337b9");
  }
  .home__header-backdrop {
    @apply w-full h-full flex flex-col justify-center items-center backdrop-blur-sm bg-gray-400/20
  }
  .home__header-container {
    @apply flex flex-col justify-center items-center bg-white p-6 rounded-md shadow-lg
  }
  .home__header-text {
    @apply flex flex-col justify-center items-center
  }
  .home__header-title {
    @apply title-font text-6xl font-bold text-center text-text-color-primary mb-4
  }
  .home__header-subtitle {
    @apply text-xl text-font text-center text-text-color-secondary
  }
  .home__header-btn {
    @apply text-font text-white bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-fill-color font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 mb-6
  }
  .home__header-img {
    @apply w-full h-full object-cover
  }

  /* Footer */
  .footer {
    @apply flex flex-col md:flex-row justify-center items-center p-2 bg-fill-color static bottom-0 w-full border-t-4 border-t-primary
  }
  .footer__text {
    @apply text-center text-sm text-font text-text-color-primary
  }
}